body{
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    background-color: #262626;
}
h1{
    font-size: 3rem;
    margin-bottom: 60px;
    color: #f73e3b
}
.btn{
    font-family: "Press Start 2P", system-ui;
    width: 20vw;
    height: 7vh;
    margin: 10px;
    border-radius: 0;
    font-size: 12px;
    border: black 3px solid;
}
.btn1{
    background-color: darkred;
}
.btn2{
    background-color: rgb(170, 3, 142);
}
.btn3{
    background-color: darkblue;
}
.btn4{
    background-color: rgb(3, 126, 126);
}
.btn5{
    background-color: green;
}
.btn6{
    background-color: rgb(192, 192, 5);
}
.btn7{
    background-color: orange;
}
.btn8{
    background-color: red;
}
.pressed{
    background-color: rgb(103, 103, 103);
    box-shadow: 0 0 20px white;

}